@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(222, 233, 233);
}


/* CSS */
.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 3rem;
    padding: 0 1.2rem;
    text-align: center;
   
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }

    main input{
        width: 400px;
        padding: 0;
    }
  }